/* Customized CSS for d3.parcoords grid */

.parcoords-grid {

    table {
        margin-bottom: 0;

        tr {
            cursor: pointer;
        }

        i {
            font-size: 10px;
            float: right;
            padding-top: 5px;
        }
    }

    div {
        padding: 5px;
        background-color: #eef0f3;
        text-align: center;
        border-top: 1px solid #dce0e3;

        i {
            margin-top: 1px;
            color: #85929d;
            cursor: pointer;
        }

    }
}
